@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}
.app {
  line-height: 1.9rem;
  display: flex;
}

li {
  list-style: none;
}
